/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

}

/* ==========================
   COLORS
========================== */

:root{

    --bg1:#240B14;
    --bg2:#3A1622;
    --bg3:#562637;

}

/* ==========================
   BODY
========================== */

body{

    margin:0;

    overflow:hidden;

    background:#5A2735;

    font-family:"Montserrat",sans-serif;

}


/* ==========================
   INTRO
========================== */

#intro{

    position:fixed;

    inset:0;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#240B14;

    z-index:999;

    transition:
        opacity .9s ease,
        transform .9s ease;

}

/* ==========================
   ENVELOPE
========================== */

#envelope{

    position:absolute;

    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    object-position:center;

    user-select:none;

    pointer-events:none;

}

/* ==========================
   CLICK AREA
========================== */

#sealButton{

    position:absolute;

    left:50%;
    top:59%;

    transform:translate(-50%,-50%);

    width:140px;
    height:140px;

    border:none;

    background:transparent;

    cursor:pointer;

    border-radius:50%;

}

/* ==========================
   MAIN SITE
========================== */

#site{

    position:fixed;

    inset:0;

    background:#5A2735;

    opacity:0;

    visibility:hidden;

    transition:opacity .9s ease;

}

/* ==========================
   SHOW SITE
========================== */

#site.show{

    opacity:1;

    visibility:visible;

}

