/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Montserrat',sans-serif;

    background:#2b1018;

    color:#F7F2EC;

    overflow-x:hidden;

}

/* ===========================
   VARIABLES
=========================== */

:root{

    --bg-dark:#2A0E17;
    --bg:#391520;
    --bg-light:#512131;

    --gold:#C9A15E;

    --cream:#F7F2EC;

    --paper:#F4EFE8;

    --seal:#F6EFE6;

    --text:#F8F4EE;

    --shadow:rgba(0,0,0,.28);

}

/* ===========================
   INTRO
=========================== */

#intro{

    position:fixed;

    inset:0;

    display:flex;

    align-items:center;

    justify-content:center;

    overflow:hidden;

    z-index:9999;

}

/* ===========================
   PREMIUM BACKGROUND
=========================== */

.background-gradient{

    position:absolute;

    inset:0;

    background:

    radial-gradient(circle at top,
    rgba(255,255,255,.08),
    transparent 45%),

    radial-gradient(circle at bottom,
    rgba(0,0,0,.35),
    transparent 55%),

    linear-gradient(
    135deg,
    #260B14 0%,
    #3B1520 40%,
    #572534 100%
    );

}

/* grain */

.background-gradient::after{

    content:"";

    position:absolute;

    inset:0;

    opacity:.05;

    background-image:

    radial-gradient(circle,#fff 1px,transparent 1px);

    background-size:18px 18px;

}

/* ===========================
   ENVELOPE
=========================== */

.envelope{

    position:relative;

    width:min(82vw,430px);

    aspect-ratio:1.45/1;

    display:flex;

    align-items:center;

    justify-content:center;

    transition:.7s;

}
